body {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.6; }

.subhead font {
  family: serif; }

.btn {
  display: block;
  max-width: 80%;
  font-size: 1.5rem; }

#thecards {
  background-color: #050546; }

#katy {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: top right !important; }
