html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  max-width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw; }
  @media only screen and (max-width: 768px) {
    .fullscreen {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-flow: column !important;
              flex-flow: column !important; } }

body {
  line-height: 24px; }

p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
  max-width: 800px; }

h1 {
  font-size: 48px;
  margin-bottom: 32px;
  margin-top: 0;
  line-height: 40px;
  text-align: center; }

h2 {
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 24px;
  text-align: center; }

h3 {
  font-size: 24px;
  margin-bottom: 20px; }

.subhead {
  font-size: 16px; }

body {
  font-family: 'Work Sans', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
  text-transform: capitalize; }

h1 {
  display: inline-block;
  text-align: center; }

p.price {
  margin-bottom: 32px; }

.btn {
  border: 2px solid #fc4f4f;
  color: #fc4f4f;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 8px 48px;
  margin-top: 16px;
  transition: all .4s ease; }
  .btn:hover {
    background-color: #fc4f4f;
    color: white; }
  .btn button {
    background: transparent;
    border: none;
    font-size: 16px;
    color: white; }

.stripe-button-el {
  display: none !important; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0b0b0b;
  height: 8vh;
  padding: 16px 64px; }
  @media only screen and (max-width: 767px) {
    nav {
      /* phones */
      display: none; } }
  nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none; }
    @media only screen and (max-width: 768px) {
      nav ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    nav ul li {
      width: 100%;
      color: #e9c244;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: center; }
    @media only screen and (max-width: 768px) {
      nav ul li {
        width: 50%;
        margin: 1px 0;
        color: #e9c244;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-negative: 1;
            flex-shrink: 1; } }
    nav ul li a {
      transition: all .2s ease-in-out;
      color: #e9c244;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;
      letter-spacing: 1px; }
      nav ul li a:hover {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg); }

footer {
  background-color: #0b0b0b;
  height: 15vh; }

.flexslider {
  background: transparent none repeat scroll 0 0;
  border: none;
  margin: 0 auto;
  margin-bottom: 56px;
  position: relative;
  width: 22vw; }
  .flexslider img {
    margin: 0 auto; }

aside {
  max-width: 90%; }

@media only screen and (max-width: 768px) {
  body section {
    padding: 0px 48px; } }

#section-1 {
  background-image: url("/img/cloudhand.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #section-1 h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    color: red;
    height: 155px;
    width: 260px; }
  #section-1 #logo {
    width: 320px;
    margin-top: 7%;
    max-width: 20%; }
    @media only screen and (max-width: 768px) {
      #section-1 #logo {
        max-width: 60%;
        margin: 48px auto 0; } }

#section-2 {
  background-image: url("/img/yellowsetup.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  height: auto;
  min-height: 100vh; }
  @media only screen and (max-width: 768px) {
    #section-2 {
      background-color: #e8ab1c;
      background-image: none;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  #section-2 aside {
    width: 33.3333333333%;
    height: auto;
    margin-right: 1em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media only screen and (max-width: 768px) {
      #section-2 aside {
        min-width: 100%;
        vertical-align: top;
        display: block;
        float: left;
        padding-left: 0px;
        padding-right: 0px; } }

#section-3 {
  background-color: #05173f;
  position: relative;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    #section-3 {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end; } }
  #section-3 p {
    max-width: 600px;
    margin: 0 auto; }
  #section-3 aside {
    width: 60%;
    height: auto;
    margin-right: 1em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 48px; }
    @media only screen and (max-width: 768px) {
      #section-3 aside {
        min-width: 100%;
        vertical-align: top;
        display: block;
        float: left;
        padding-left: 0px;
        padding-right: 0px; } }
    @media only screen and (max-width: 768px) {
      #section-3 aside {
        margin-bottom: 0px; } }

#section-3:before {
  position: absolute;
  content: url(/img/circlecards.png);
  display: block;
  width: 2400px;
  height: 2400px; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

#section-4 {
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center; }
  #section-4 aside {
    width: 75%;
    height: auto;
    margin-right: 1em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media only screen and (max-width: 768px) {
      #section-4 aside {
        min-width: 100%;
        vertical-align: top;
        display: block;
        float: left;
        padding-left: 0px;
        padding-right: 0px; } }

#section-5 {
  background-color: #f7faf8;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 768px) {
    #section-5 {
      text-align: center;
      padding-top: 48px; } }
  #section-5 h1 {
    color: red; }
    @media only screen and (max-width: 768px) {
      #section-5 h1 {
        text-align: center; } }
  #section-5 aside:last-of-type {
    padding: 0;
    margin: 0; }
  #section-5 aside {
    width: 50%;
    height: auto;
    margin-right: 1em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    padding-left: 32px; }
    @media only screen and (max-width: 768px) {
      #section-5 aside {
        min-width: 100%;
        vertical-align: top;
        display: block;
        float: left;
        padding-left: 0px;
        padding-right: 0px; } }
    #section-5 aside p {
      text-align: left; }
    #section-5 aside img {
      height: 100%;
      width: 100%;
      vertical-align: bottom; }
    @media only screen and (max-width: 768px) {
      #section-5 aside {
        padding: 0 32px; } }
