// MIXINS

@mixin imagecontain() {
    background-size: contain !important;
    background-repeat: no-repeat !important; 
    
}

// Colors

// Typography

$text-color: white;
$base-font-size: 16px;
$base-font-weight: normal;
$primary-font-family: sans-serif;
$secondary-font-family: serif;

body {
    color: $text-color;
    font-size: $base-font-size;
    font-family: $primary-font-family;
    font-weight: $base-font-weight;
    line-height: 1.6;
}

.subhead {
    font {
        family: $secondary-font-family;
    }
}

// Buttons

.btn {
    display: block;
    max-width: 80%;
    font-size: 1.5rem;
} 


// Sections

#thecards {

    background-color: #050546;
}

#katy {
   @include imagecontain();
    background-position: top right !important;
}
