body {
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5; }

p {
  text-color: white;
  base-font-size: 17px;
  base-font-weight: normal;
  primary-font-family: sans-serif;
  secondary-font-family: serif; }
  p.centered {
    text-align: center; }
  p.lead {
    font-size: 17px;
    line-height: 26px; }
  p.narrow {
    max-width: 500px; }
  p.tiny {
    font-size: 1.25rem; }

.subhead font {
  family: serif; }

.btn {
  display: block;
  max-width: 80%;
  font-size: 1.5rem; }

.nav-bar {
  background-color: #0b0b0b; }
  .nav-bar .menu li a {
    color: white;
    opacity: 1.0; }

#thecards {
  background-color: #050546; }

div.centered {
  margin: 0 auto;
  float: none;
  text-align: center; }
  div.centered p {
    margin: 0 auto; }
div.bottomdocker {
  position: absolute !important;
  margin-bottom: 5rem;
  bottom: 0;
  left: 0;
  right: 0; }

#thedrinks .centered {
  margin-bottom: 8rem; }

#katy {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: top right !important; }

footer.bg-secondary {
  background-color: #0b0b0b;
  color: white; }
