.flexslider {
    background: transparent none repeat scroll 0 0;
    border: none;
    margin: 0 auto;
    margin-bottom: $unit*3.5;
    position: relative;
    width: 22vw;

    img {
        margin: 0 auto;
    }
}